<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
</head>
<body>

<header>
    <h1>{{ .Site.Title }}</h1>
    <nav>
       <a href="/">Home</a>
    </nav>
</header>

<main role="main">
    {{ block "main" . }}{{ end }}
</main>

<footer>
    <p>&copy; 2025 {{ .Site.Title }}. All rights reserved.</p>
</footer>

</body>
</html>
